.user-image{
    height: 50px;
    width: 55px;
    border-radius:50%;
    margin-left: 10px;
}
.post-image{
    height: 300px;
    width: 70%;
    margin-left: 10px;
    
}
.detail-image{
    height: 450px;
    width: 50%;
    margin-left: 10px;
    
}
.profilecard{
    width: 18rem;
}
.button-two {
    margin-left:20px;
}
.button-edit{
    margin-right: 20px;
}

.upimage {
    width:100px;
}